* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px 0px 150px;
    background-color: #fef6f8;


}

.banner-heading {
    font-size: 35px;
    font-weight: 700;
}

.banner-description {
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 14px;
}


.btn-primary {
    padding: 12px 18px;
    background-color: #E55473;
    color: aliceblue;
    font-weight: 700;
    border: none;
    border-radius: 5px;

}

.btn-primary:hover {
    background-color: #ff4040;
    cursor: pointer;
}

.banner-img {
    width: 500px;
}