* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}

main {
    width: 1140px;
    margin: 0px auto;
}

.section-heading {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-description {
    font-size: 18px;
    color: #272727;
    margin-top: 10px;
}



/* button styles */

.btn-primary {
    padding: 12px 18px;
    background-color: #E55473;
    color: aliceblue;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #ff4040;
    cursor: pointer;
}

/* banner styles  */

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px 0px 150px;
    background-color: #fef6f8;
}

.banner-heading {
    font-size: 40px;
    font-weight: 700;
}

.banner-description {
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.banner-img {
    width: 500px;
}

/* Feature section  */

.feature-text {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 20px;
}

.feature-text.section-heading {
    margin-bottom: 20px;
}

.feature-photo-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-top: 20px;
}

.feature-photo1 {
    background-color: #daeff1;
    border-radius: 175px 175px 0px 0px;
    width: 464px;
    height: 538px;
}

.feature-photo1 img {
    padding-top: 120px;
}

.feature-photo2 {
    background-color: #f2dee7;
    border-radius: 175px 175px 0px 0px;
    width: 464px;
    height: 538px;
}

.feature-photo2 img {
    width: 310px;
    height: 428px;
    padding-top: 110px;
    padding-left: 15px;
}

.feature-photo3 {
    background-color: #e3ecdb;
    border-radius: 175px 175px 0px 0px;
    width: 464px;
    height: 538px;
}

.feature-photo3 img {
    width: 314px;
    height: 472px;
    padding-top: 65px;
    padding-left: 20px;
}

.flower-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.flower-links a {
    color: black;
}

/* support section styles */

.support-container {
    margin-top: 100px;
    width: 100%;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 10px;

}

/* hot deal styles */

.deal-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #fef6f8;
    margin-top: 100px;
}

.deal-text {
    text-align: center;
}

.deal-description {
    margin-top: 15px;
}

.deal-btn {
    text-align: center;
    margin-top: 15px;
}

/* Instagram styles */
.instagram-text {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;

}

.instagram-container img {
    width: 300px;
}

.instagram-container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* custom gift styles */
.custom-gift-text {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.custom-gifts-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.custom-gifts {
    height: 280px;
    width: 300px;
    text-align: center;
    align-items: center;
    box-shadow: 15px 15px 15px floralwhite;
    border: 1px solid #ffcff1;
    border-radius: 12px;
    padding: 12px;
}

.custom-gifts-container img {
    width: 200px;
}

/* latest deal styles */

.latest-deal-container {
    margin-top: 100px;
    width: 100%;
    height: 50vh;
    background-image: url('Assets/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
}

.latest-deal-text {
    padding-top: 120px;
    text-align: center;

}

.latest-deal-text input {
    width: 550px;
    height: 45px;
    border-radius: 5px;
    box-shadow: 10px;
    background-color: #FFFFFF;
    border: none;
}


/* footer styles */

.footer-container {
    height: 500px;
    width: auto;
    background-color: black;
    margin-top: 150px;
}

.footer-text {
    text-align: center;
    color: #FFFFFF;
    padding-top: 130px;
}

.footer-heading {
    margin-bottom: 10px;
}

.footer-heading1 {
    color: #E55473;
}

.footer-description {
    margin-bottom: 20px;
}

.copyright {
    color: #ffffff6c;
}